@media screen and (max-width: 1200px) {
  #container, header {
    width: 100%;
  }
}

@media screen and (max-width: 780px) {
  #container {
    padding: 5px;
  }
  #measures, #steps {
    width: 100%;
    padding: unset;
  }
  #polylines {
    width: 100%;
    height: unset;
  }
  #drawing {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  input, select, label, button {
    font-size: 13px;
  }
  #steps>ul>li>div {
    font-size: 15px;
  }
}
